.App {
  text-align: center;
  width: 70%;
  margin: 40px auto 0 auto;
  background-color: #fff;
  border: 1px solid #888;
  border-radius: 5px;
  padding: 50px;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  background-color: #d8d8d8;
  color: #1d4f91;
}